<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.michaelnovakjr.numberpicker"
      android:versionCode="1"
      android:versionName="1.0">

    <!-- Not recognized during compile, error: android:xlargeScreens="true"  -->
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />
    <uses-sdk android:maxSdkVersion="11" android:targetSdkVersion="10" android:minSdkVersion="8"/>
</manifest>
